# Node
node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# Strapi
.env
public/uploads/
exports/
.tmp/
build/
.cache/

# Docker
docker-compose.override.yml

# Terraform
terraform/
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# SSH Keys
*.pem
*.pub
strapi-key
strapi-key.pub

# IDEs
.vscode/
.idea/

#Documents
AWS_Architecture.md

#Github Actions
.github/workflows